[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lahyanimounir
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lahyanimounir
	label-Verified = -1..+1 group user/lahyanimounir
	push = group user/lahyanimounir
	read = group user/lahyanimounir
	rebase = group user/lahyanimounir
	removeReviewer = group user/lahyanimounir
	submit = group user/lahyanimounir
[access "refs/heads/*"]
	create = group user/lahyanimounir
	push = +force group user/lahyanimounir
	pushMerge = group user/lahyanimounir
	read = group user/lahyanimounir
[access "refs/tags/*"]
	push = group user/lahyanimounir
	push = +force group user/lahyanimounir
